global-exclude .DS_Store
global-exclude *.pyc
exclude MANIFEST.in
exclude *.txt *.py
recursive-include tests *.py
include CHANGES.txt LICENSE.txt VERSION.txt README.md
include setup.py requirements.txt