[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"psycopg2-binary" = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
"geoalchemy2" = "*"
alembic = "*"
bcdata = "*"
"e1839a8" = {path = ".", editable = true}


[dev-packages]

"psycopg2-binary" = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
"geoalchemy2" = "*"
alembic = "*"
bcdata = "*"
pytest = "*"
coverage = "*"
fiona = "*"
